Pods/
Country.mmdb
Carthage
ClashX.a
ClashX.h
ClashX/Resources/dashboard
ClashX.app
*.dmg
**/xcuserdata/
.idea
*.pyc
ClashX/clash/
.DS_Store
.vscode
ClashX/goClash/goClash.h
ClashX/goClash/goClash.a
fastlane/report.xml
ClashX/Resources/Country.mmdb.gz
.bundle/config
*.app/**
ClashX.app.dSYM.zip
build_derived_data
/.derivedData-x86
/.derivedData
/.derivedData-local
/.omx
/.codex-logs
*.psd
ps/icon_512x512.png
ps/icon_32x32@2x.png
ps/icon_32x32.png
ps/icon_256x256@2x.png
ps/icon_256x256.png
ps/icon_16x16@2x.png
ps/icon_16x16.png
ps/icon_128x128@2x.png
